//word styles
.text-link {
    font-size: 1.4rem;
    line-height: 1.7rem;
    text-decoration-line: none;
    margin: 0px 38px;
}


//link styles
a:link {
    color: $color-gray-4d;
}
a:visited {
    color: $color-gray-4d;
}
a:hover {
    text-decoration: underline;
}